<form [formGroup]="form" (ngSubmit)="onSubmit()" #formEl>
    <div class="modal-header"><h5 class="modal-title">{{ title }}</h5></div>
    <div class="modal-body">

        <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                    <label class="d-block" for="fieldEventType">
                        Event Type
                    </label>
                    <input id="fieldEventType" type="text" class="form-control"
                           formControlName="type"
                           [ngClass]="{'is-invalid': form.controls.type.touched && !form.controls.type.valid}">
                </div>

            </div>
            <div class="col-md-6">

                <div class="form-group">
                    <label class="d-block" for="fieldAlertType">
                        Alert Type
                    </label>
                    <input id="fieldAlertType" type="text" class="form-control"
                           formControlName="alertType"
                           [ngClass]="{'is-invalid': form.controls.alertType.touched && !form.controls.alertType.valid}">
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                    <label class="d-block" for="fieldAgeInDays">
                        Age Days
                    </label>
                    <input id="fieldAgeInDays" type="number" class="form-control"
                           formControlName="ageInDays"
                           [ngClass]="{'is-invalid': form.controls.ageInDays.touched && !form.controls.ageInDays.valid}">
                </div>

            </div>
            <div class="col-md-6">

                <div class="form-group">
                    <label class="d-block" for="fieldCurrentGroupName">
                        Current Group Name
                    </label>
                    <input id="fieldCurrentGroupName" type="text" class="form-control"
                           formControlName="currentGroupName"
                           [ngClass]="{'is-invalid': form.controls.currentGroupName.touched && !form.controls.currentGroupName.valid}">
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                    <label class="d-block" for="fieldNewGroupName">
                        New Group Name
                    </label>
                    <input id="fieldNewGroupName" type="text" class="form-control"
                           formControlName="newGroupName"
                           [ngClass]="{'is-invalid': form.controls.newGroupName.touched && !form.controls.newGroupName.valid}">
                </div>

            </div>
            <div class="col-md-6">

                <div class="form-group">
                    <label class="d-block" for="fieldDestinationGroupName">
                        Destination Group Name
                    </label>
                    <input id="fieldDestinationGroupName" type="text" class="form-control"
                           formControlName="destinationGroupName"
                           [ngClass]="{'is-invalid': form.controls.destinationGroupName.touched && !form.controls.destinationGroupName.valid}">
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                    <label class="d-block" for="fieldNewborns">
                        Newborns
                    </label>
                    <input id="fieldNewborns" type="number" class="form-control"
                           formControlName="newborns"
                           [ngClass]="{'is-invalid': form.controls.newborns.touched && !form.controls.newborns.valid}">
                </div>

            </div>
            <div class="col-md-6">

                <div class="form-group">
                    <label class="d-block" for="fieldCalvingEase">
                        Calving Ease
                    </label>
                    <input id="fieldCalvingEase" type="text" class="form-control"
                           formControlName="calvingEase"
                           [ngClass]="{'is-invalid': form.controls.calvingEase.touched && !form.controls.calvingEase.valid}">
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                    <label class="d-block" for="fieldDaysInPregnancy">
                        Days In Pregnancy
                    </label>
                    <input id="fieldDaysInPregnancy" type="number" class="form-control"
                           formControlName="daysInPregnancy"
                           [ngClass]="{'is-invalid': form.controls.daysInPregnancy.touched && !form.controls.daysInPregnancy.valid}">
                </div>

            </div>
            <div class="col-md-6">

                <div class="form-group">
                    <label class="d-block" for="fieldDaysInLactation">
                        Days in Lactation
                    </label>
                    <input id="fieldDaysInLactation" type="number" class="form-control"
                           formControlName="daysInLactation"
                           [ngClass]="{'is-invalid': form.controls.daysInLactation.touched && !form.controls.daysInLactation.valid}">
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                    <label class="d-block" for="fieldLactationNumber">
                        Lactation Number
                    </label>
                    <input id="fieldLactationNumber" type="number" class="form-control"
                           formControlName="lactationNumber"
                           [ngClass]="{'is-invalid': form.controls.lactationNumber.touched && !form.controls.lactationNumber.valid}">
                </div>

            </div>
            <div class="col-md-6">

                <div class="form-group">
                    <label class="d-block" for="fieldOldLactationNumber">
                        Old Lactation Number
                    </label>
                    <input id="fieldOldLactationNumber" type="number" class="form-control"
                           formControlName="oldLactationNumber"
                           [ngClass]="{'is-invalid': form.controls.oldLactationNumber.touched && !form.controls.oldLactationNumber.valid}">
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                    <label class="d-block" for="fieldHealthIndex">
                        Health Index
                    </label>
                    <input id="fieldHealthIndex" type="number" class="form-control"
                           formControlName="healthIndex"
                           [ngClass]="{'is-invalid': form.controls.healthIndex.touched && !form.controls.healthIndex.valid}">
                </div>

            </div>
            <div class="col-md-6">

                <div class="form-group">
                    <label class="d-block" for="fieldHeatIndexPeak">
                        Heat Index Peak
                    </label>
                    <input id="fieldHeatIndexPeak" type="number" class="form-control"
                           formControlName="heatIndexPeak"
                           [ngClass]="{'is-invalid': form.controls.heatIndexPeak.touched && !form.controls.heatIndexPeak.valid}">
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                    <label class="d-block" for="fieldStartDateTime">
                        Start Time
                    </label>
                    <input id="fieldStartDateTime" type="text" class="form-control"
                           formControlName="startDateTime"
                           bsDatepicker
                           [bsConfig]="{adaptivePosition: true, dateInputFormat: 'MMMM DD YYYY, hh:mm:ss A'}"
                           [ngClass]="{'is-invalid': form.controls.startDateTime.touched && !form.controls.startDateTime.valid}">
                </div>

            </div>
            <div class="col-md-6">

                <div class="form-group">
                    <label class="d-block" for="fieldEndDateTime">
                        End Time
                    </label>
                    <input id="fieldEndDateTime" type="text" class="form-control"
                           formControlName="endDateTime"
                           bsDatepicker
                           [bsConfig]="{adaptivePosition: true, dateInputFormat: 'MMMM DD YYYY, hh:mm:ss A'}"
                           [ngClass]="{'is-invalid': form.controls.endDateTime.touched && !form.controls.endDateTime.valid}">
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                    <label class="d-block" for="fieldReportingDateTime">
                        Reporting Time
                    </label>
                    <input id="fieldReportingDateTime" type="text" class="form-control"
                           formControlName="reportingDateTime"
                           bsDatepicker
                           [bsConfig]="{adaptivePosition: true, dateInputFormat: 'MMMM DD YYYY, hh:mm:ss A'}"
                           [ngClass]="{'is-invalid': form.controls.reportingDateTime.touched && !form.controls.reportingDateTime.valid}">
                </div>

            </div>
            <div class="col-md-6">

                <div class="form-group">
                    <label class="d-block" for="fieldMinValueDateTime">
                        Min Value Time
                    </label>
                    <input id="fieldMinValueDateTime" type="text" class="form-control"
                           formControlName="minValueDateTime"
                           bsDatepicker
                           [bsConfig]="{adaptivePosition: true, dateInputFormat: 'MMMM DD YYYY, hh:mm:ss A'}"
                           [ngClass]="{'is-invalid': form.controls.minValueDateTime.touched && !form.controls.minValueDateTime.valid}">
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                    <div class="custom-control custom-checkbox mt-0 mt-md-4">
                        <input type="checkbox" class="custom-control-input" id="fieldDeletable" formControlName="deletable">
                        <label class="custom-control-label" for="fieldDeletable">Deletable</label>
                    </div>
                </div>

            </div>
        </div>

        <div class="alert alert-danger mb-0" *ngIf="errorMessage">{{ errorMessage }}</div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary px-5 mr-2"
                [disabled]="submitted">Save</button>
        <button type="button" class="btn btn-secondary mr-2"
                [disabled]="submitted"
                (click)="cancel($event)">Cancel</button>
    </div>
</form>
