
<div class="container mt-5">

    <div class="mb-3">
        <button type="button" class="btn btn-primary" (click)="addItem($event)">Add Item</button>
    </div>

    <div class="table-responsive mb-3" *ngIf="items$ | async; let items; else loading">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Event ID</th>
                <th>Event Type</th>
                <th>Animal ID</th>
                <th>Cow ID</th>
                <th>Age Days</th>
                <th>Days in Lactation</th>
                <th>Lactation Number</th>
                <th>Health Index</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Reporting Time</th>
                <th>Min Value Time</th>
            </tr>
            </thead>
            <tbody>
                <tr class="show-on-hover-parent" *ngFor="let item of items">
                    <td>{{ item.eventId }}</td>
                    <td>{{ item.type }}</td>
                    <td>{{ item.animalId }}</td>
                    <td>{{ item.cowId }}</td>
                    <td>{{ item.ageInDays }}</td>
                    <td>{{ item.daysInLactation }}</td>
                    <td>{{ item.lactationNumber }}</td>
                    <td>{{ item.healthIndex }}</td>
                    <td class="small">{{ item.startDateTime*1000 | date:'medium' }}</td>
                    <td  class="small">
                        <span *ngIf="item.endDate">{{ item.endDate*1000 | date:'medium' }}</span>
                    </td>
                    <td class="small">{{ item.reportingDateTime*1000 | date:'medium' }}</td>
                    <td>
                        <div class="position-relative">
                            <div class="show-on-hover position-absolute text-right pos-top-right">
                                <button type="button" class="btn btn-info btn-sm" (click)="updateItem(item, $event)">
                                    Edit
                                </button>
                                <button type="button" class="btn btn-danger btn-sm ml-2" (click)="deleteItem(item.key, $event)">
                                    Delete
                                </button>
                            </div>
                            <span class="small">{{ item.minValueDateTime*1000 | date:'medium' }}</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <ng-template #loading>
        <div class="sk-spinner-overlay">
            <div class="sk-circle">
                <div class="sk-circle1 sk-child"></div>
                <div class="sk-circle2 sk-child"></div>
                <div class="sk-circle3 sk-child"></div>
                <div class="sk-circle4 sk-child"></div>
                <div class="sk-circle5 sk-child"></div>
                <div class="sk-circle6 sk-child"></div>
                <div class="sk-circle7 sk-child"></div>
                <div class="sk-circle8 sk-child"></div>
                <div class="sk-circle9 sk-child"></div>
                <div class="sk-circle10 sk-child"></div>
                <div class="sk-circle11 sk-child"></div>
                <div class="sk-circle12 sk-child"></div>
            </div>
        </div>
    </ng-template>

</div>
